<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Dating App</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    @if (accountSrv.currentUser()) {
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/members">Matches</a>
        </li>
        <li class="nav-item" routerLink="/lists">
          <a class="nav-link" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item" routerLink="/messages">
          <a class="nav-link" routerLinkActive="active">Messages</a>
        </li>
      </ul>
    }

    @if (accountSrv.currentUser()) {
      <div class="dropdown" dropdown>
        <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>
          Welcome {{ accountSrv.currentUser()?.username }}
        </a>
        <ul class="dropdown-menu" *dropdownMenu>
          <li><a class="dropdown-item" href="#">Edit Profile</a></li>
          <li class="divider dropdown-divider"></li>
          <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    }

    @if (!accountSrv.currentUser()) {
      <form class="d-flex" #loginForm="ngForm" (ngSubmit)="login()">
        <input
          name="username"
          [(ngModel)]="loginDto.username"
          class="form-control me-2"
          placeholder="Username">
        <input
          name="password"
          [(ngModel)]="loginDto.password"
          class="form-control me-2"
          placeholder="Password"
          type="password">
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>
    }
  </div>
</nav>
